extends ../../layouts/defaut.pug
include ../../mixins/box-head.pug
block main  
    .container.my-3
        .row
            .col-12 
                
                +box-head("Danh sach san pham")
        
        .row
            each item in products
                .col-4.mb-3
                    .product-item
                        .inner-image
                            img(src=item.thumbnail, alt="#")
                        .inner-content
                            h3.inner-title #{item.title}
                            .inner-price-new Giá mới: #{item.newPrice} vnđ
                            .inner-price-old Giá cũ: #{item.priceString} vnđ
                            .inner-discount Sale: #{item.discount} %   



